.card {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 300px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  &__add {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2em;
    color: lightgrey;
    cursor: pointer;
    z-index: 1;
  }
}
